:root{
    --color-seconary: #ac0e28;
    --color-primary: #013766;
    --color-accent: #645394;
    --color-background: #ccccc4;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    margin: 0;
}

#header{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3 ,min-content);
    background-color: var(--color-accent);
    gap:5px;
    padding-bottom: 5px;
}

h1{
    margin: 10px;
    text-align: center;
    grid-column: 1 / -1;
}

.player-container{
    display:flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

input{
    font-size: 1.5em;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

h2{
    text-align: center;
}

#player-one{
    color: var(--color-primary);
    margin:0;
}

#player-two{
    color: var(--color-seconary);
    margin:0;
}
#header input:disabled{
    color: black;
}

#header button{
    font-size: 1.5em;
    background-color: var(--color-accent);
    border-radius: 5px;
}

#start-button, #restart-button{
    grid-column: 1 / -1;
}

#start-button{
    border: 3px solid #77dd77;
}

#start-button:hover{
    background-color: #77dd77;
}

#restart-button{
    border: 3px solid #ff6961;
}

#restart-button:hover{
    background-color: #ff6961;
}

#game-board{
    display:grid;
    margin: 20px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    grid-gap: 5px;
    background-color: var(--color-accent);
    align-self: center;
}

#info-display{
    height: 1.5em;
    margin:10px;
}
.square{
    border-style: none;
    background-color: white;
    font-size: 200px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding:0;
    border-radius: 10px;
}

.square:hover{
    transition: background-color 0.2s linear;
    background-color: var(--color-background);
}